<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-demo:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-mvc-demo-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.5" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.5" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.0.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-mvc-demo-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc-demo/web/Web" />
    </root>
  </artifact>
</component>